<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/6dd2932751.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %} – Samuel Urom</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}" class="logo"><i class="fa-solid fa-chevron-right"> SU<span class="blinker"> __</span></i></a>
            <nav>
                <div class="hamburger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <ul class="nav-menu">
                    {% if g.user %}
                        <li><span>Hi {{ g.user['full_name'] }}!</span></li>
                        <li><a href="">About Me</a></li>
                        <li><a href="{{ url_for('page.blog') }}">Blog</a></li>
                        <li><a href="{{ url_for('page.create') }}"><i class="fa-regular fa-pen-to-square menu_icon"></i> New Post</a></li>
                        <li><a href="{{ url_for('auth.logout') }}"><i class="fa-solid fa-arrow-right-from-bracket menu_icon"></i> Log Out</a></li>
                    {% else %}
                    <li><a href="">About Me</a></li>
                        <li><a href="{{ url_for('page.blog') }}">Blog</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
        <aside id="contact">
            <div class="container two-cols">
                <div class="contacts">
                    <h3>Contact</h3>
                    <p>Interested in hiring me or just want to say hi? You can use the contact details below or just fill in the quick contact form.</p>
                    <ul>
                        <li>Email: <a href="mailto:hello@samuelurom.com">hello@samuelurom.com</a></li>
                        <li>Phone: <a href="tel:+447438127072">+44 7438 127072</a></li>
                    </ul>
                    <p>Want to get connected? Let's connect on the social media channels below:</p>
                    <a href="https://www.linkedin.com/in/uromwise/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> <a href="https://github.com/samuelurom" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://twitter.com/uromwise" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="feedback">
                <h3>Get in Touch</h3>
                    <form action="{{ url_for('page.contact') }}" method="post">
                        <input type="text" id="name" name="name" placeholder="Name" required>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                        <input type="text" id="subject" name="subject" placeholder="Subject" required>
                        <textarea id="message" name="message" placeholder="Message" required></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </aside>
        <footer>
            <p>Copyright &copy; 2022. Samuel Urom.</p>
        </footer>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>