{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Blog{% endblock %}</h1>
    {% if g.user %}
        <a href="{{ url_for('page.create') }}" class="create-menu"><i class="fa-regular fa-pen-to-square menu_icon"></i> New Post</a>
    {% endif %}
    <hr>
{% endblock %}


{% block content %}
    <div class="blog">
        {% for post in posts %}
            <section class="container">
                <h2>{{ post['post_title'] }}</h2>
                {% if post['featured_image'] %}
                    <img src="/uploads/{{ post['featured_image'] }}" alt="{{ post['post_title'] }}">
                {% endif %}
                <span>Published {{ post['created_date'].strftime('%d %B, %Y') }} <b>&middot;</b> by {{ post['full_name'] }}</span>
                <p>{{ post['post_description'] }}</p>
                <a href="{{ url_for('page.single_post', post_url=post['post_url']) }}">Read more...</a>
                {% if g.user['id'] == post['author_id'] %}
                    &nbsp;&nbsp;<a href="{{ url_for('page.edit', id=post['id']) }}"><i class="fa-regular fa-pen-to-square menu_icon"></i> Edit Post</a>
                {% endif %}
            </section>
        {% endfor %}
    <div class="blog_container"></div>
{% endblock %}