{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}
        {% if sender_name %}
            Message Sent
        {% else %}
            Let's Talk
        {% endif %}
        {% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <section class="container">
        {% if sender_name %}
            <p>Hi {{ sender_name }}, thanks for your email. I'll get back to you in a bit. Thanks.</p>
        {% else %}
            <p>I am just an email or a phone call away!</p>
        {% endif %}
    </section>
{% endblock %}