{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    {{ ckeditor.load() }}
    <form method="post" enctype="multipart/form-data">
        <label for="post_title">Title</label>
        <input type="text" name="post_title" id="post_title" value="{{ request.form['post_title'] }}" required>
        <label for="post_url">URL</label>
        <input type="text" name="post_url" id="post_url" value="{{ request.form['post_url'] }}" required>
        <label for="post_description">Meta Description</label>
        <textarea name="post_description" id="post_description" cols="10" rows="2">{{ request.form['post_description'] }}</textarea>
        <label for="ckeditor">Content</label>
        {{ ckeditor.create(value=request.form['ckeditor']) }}
        <label for="published_status">Post Status</label>
        <select name="published_status" id="published_status" required>
            {% if request.form['published_status'] == 0 %}
                <option value="0" selected>Draft</option>
                <option value="1">Published</option>
            {% elif request.form['published_status'] == 1 %}
                <option value="0">Draft</option>
                <option value="1" selected>Published</option>
            {% else %}
                <option value="0">Draft</option>
                <option value="1">Published</option>
            {% endif %}
        </select>
        <label for="featured_image">Featured Image</label>
        <input type="file" name="featured_image" id="featured_image">
        <input type="submit" value="Save">
    </form>
{% endblock %}