{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ post['post_title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    {{ ckeditor.load() }}
    <form method="post" enctype="multipart/form-data">
        <label for="post_title">Title</label>
        <input type="text" name="post_title" id="post_title" value="{{ request.form['post_title'] or post['post_title'] }}" required>
        <label for="post_url">URL</label>
        <input type="text" name="post_url" id="post_url" value="{{ request.form['post_url'] or post['post_url'] }}" required>
        <label for="post_description">Meta Description</label>
        <textarea name="post_description" id="post_description" cols="10" rows="2">{{ request.form['post_description'] or post['post_description'] }}</textarea>
        <label for="ckeditor">Content</label>
        {{ ckeditor.create(value=request.form['ckeditor'] or post['post_content']) }}
        <label for="post_type">Post Type</label>
        <select name="post_type" id="post_type" required>
            <option value="blog" {% if request.form['post_type'] == 'blog' or post['post_type'] == 'blog' %}selected{% endif %}>Blog</option>
            <option value="project" {% if request.form['post_type'] == 'project' or post['post_type'] == 'project' %}selected{% endif %}>Project</option>
        </select>
        <label for="featured_image">Featured Image</label>
        <input type="file" name="featured_image" id="featured_image">
        <input type="submit" value="Save">
    </form>
    <form action="{{ url_for('page.delete', id=post['id']) }}" method="post">
        <input type="submit" value="Delete" class="danger" onclick="return confirm('Are you sure you want to delete this post?');">
    </form>
{% endblock %}