<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/6dd2932751.js" crossorigin="anonymous"></script>
    <title>Samuel Urom - Software Developer</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
</head>
<body>
    <header>
        <a href="https://samuelurom.com" class="logo"><i class="fa-solid fa-chevron-right"> SU<span class="blinker"> __</span></i></a>
        <nav>
            <div class="hamburger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-menu">
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Portfolio</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#experiences">Experiences</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero" id="about">
            <div class="bio">
                <h1>Samuel Urom</h1>
                <span>Python Software Developer</span>
                <p>I am a Python software developer with over 10 years of experience in web development industry. My experience includes developing and maintaining web applications, building and consuming APIs, and working with databases.</p>
                <p>What motivates me most is the opportunity to create software that makes a positive impact on people's lives, whether it's improving efficiency, providing new capabilities, or tackling real-world problems.</p>
                <p>In my free time, I love to engage in solving coding challenges and mentoring new developers. With a dedication to excellence and a drive to make a meaningful contribution to the field, I am confident in my ability to create innovative and impactful software solutions.</p>
            </div>
            <div class="profile-photo">
                <img src="./images/Samuel_Urom.jpg" alt="">
            </div>
        </section>
        <section>
            <hr>
        </section>
        <section id="skills">
            <h3>Skills</h3>
            <p>I have a strong foundation in computer science concepts and a passion for solving complex problems with code. Below is a quick overview of my technical skills and technology stack.</p>
            <div class="container icon-cards">
                <div class="item">
                    <div class="icon py"><i class="fa-brands fa-python"></i></div>
                    <h4>Python & Django</h4>
                    <p>Strong understanding of Python programming language and Django web development framework.</p>
                </div>
                <div class="item">
                    <div class="icon js"><i class="fa-brands fa-square-js"></i></div>
                    <h4>JavaScript</h4>
                    <p>In-depth knowledge of JavaScript programming language and ES6.</p>
                </div>
                <div class="item">
                    <div class="icon"><i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> <i class="fa-brands fa-bootstrap"></i></div>
                    <h4>HTML, CSS, Bootstrap</h4>
                    <p>Strong knowledge of HTML, CSS, and frameworks such as Bootstrap and Tailwind CSS.</p>
                </div>
                <div class="item">
                    <div class="icon"><i class="fa-brands fa-git-alt"></i> <i class="fa-brands fa-github"></i></div>
                    <h4>Git & GitHub</h4>
                    <p>Comfortable working with version control systems such as Git and GitHub.</p>
                </div>
                <div class="item">
                    <div class="icon"><i class="fa-solid fa-database"></i></div>
                    <h4>SQL & Databases</h4>
                    <p>Experience with SQL and relational database systems such as PostgreSQL, MySQL, and SQLite.</p>
                </div>
                <div class="item">
                    <div class="icon"><i class="fa-brands fa-aws"></i></div>
                    <h4>AWS</h4>
                    <p>Familiarity with Amazon Web Services cloud computing platform.</p>
                </div>
            </div>
        </section>
        <section>
            <hr>
        </section>
        <div class="two-cols">
            <section id="experiences">
                <h3>Work Experiences</h3>
                <div class="container">
                    <h4>Web Developer & IT Support</h4>
                    <span>Office of the President of the Senate, National Assembly, Nigeria | 2011 – 2019</span>
                </div>
                <div class="container">
                    <h4>Web Developer & Graphic Designer</h4>
                    <span>Kefiano Autos, Abuja, Nigeria | 2009 – 2011</span>
                </div>
            </section>
            <section id="education">
                <h3>Education</h3>
                <div class="container">
                    <h4>B. Sc. (Hons) Computer Science</h4>
                    <span>National Open University of Nigeria | 2013 – 2017</span>
                </div>
            </section>
        </div>
        <section>
            <hr>
        </section>
        <section id="projects">
            <h3>Featured Projects</h3>
            <div class="container">
                <div class="featured-image">
                    <img src="./images/Projects_Cover.jpg" alt="CLI Inventory Manager">
                </div>
                <article>
                    <h4>CLI Inventory Manager</h4>
                    <span>Python | Open Source</span>
                    <p>This is a command-line based application that allows you to manage your inventory and keep track of your products. With this program, you can add new products to your inventory, restock existing products, search and view your inventory in a variety of ways. The application is built with strong OOP concepts and the data is persisted in an external CSV file. View this project on my <a href="https://github.com/samuelurom/inventory_manager" target="_blank">GitHub</a>.</p>
                </article>
            </div>
            <div class="container">
                <div class="featured-image">
                    <img src="./images/Projects_Cover.jpg" alt="Simple Task Management System">
                </div>
                <article>
                    <h4>Simple Task Management System</h4>
                    <span>Python | Open Source</span>
                    <p>This task management system is a simple CLI tool. It allows users to create, view, and manage tasks from the terminal. Only the admin is authorized to register new users, add a new task and assign to a valid user, edit uncompleted tasks, and generate system reports. Other users can easily enter commands to view all tasks, view and mark tasks assigned to them as completed. The system stores user and tasks data in external text files. View this project on my <a href="https://github.com/samuelurom/simple_task_management_system" target="_blank">GitHub</a>.</p>
                </article>
            </div>
            <div class="container">
                <div class="featured-image">
                    <img src="./images/Projects_Cover.jpg" alt="Rock Paper Scissors - The Game">
                </div>
                <article>
                    <h4>Rock Paper Scissors - The Game</h4>
                    <span>Vanilla JavaScript, HTML, CSS | Open Source</span>
                    <p>Rock Paper Scissors is a classic hand game that has been enjoyed by people of all ages for generations. I have built this version using JavaScript and created a beautiful user interface to enhance the gameplay experience. To play the game, choose between rock, paper, or scissors by clicking on one of the buttons on the screen. The computer will also make a selection and the winner will be determined based on the game rules. As you play, your score will be tracked and displayed on the screen. Can you outsmart the computer? Give it a try and find out! View this project on my <a href="https://github.com/samuelurom/rock-paper-scissors-game" target="_blank">GitHub</a>.</p>
                </article>
            </div>
        </section>
        <section>
            <hr>
        </section>
        <section id="blog">
            <h3>Latest Blog Posts</h3>
            <div class="container">
                <h4>Want to Become a Python Developer in 2023? Learn These 6 Key Skills</h4>
                <span>Published Dec 12, 2022 | Medium</span>
                <p>In this article, I explore the key skills and knowledge that you need to become a successful Python developer in 2023, as well as some tips for getting started on your journey. Read more on <a href="https://medium.com/@samuelurom/want-to-become-a-python-developer-in-2023-learn-these-6-key-skills-73a212a65471" target="_blank">Medium</a>.</p>
            </div>
        </section>
    </main>
    <aside id="contact">
        <div class="container two-cols">
            <div class="contacts">
                <h3>Contact</h3>
                <p>Interested in hiring me or just want to say hi? You can use the contact details below or just fill in the quick contact form.</p>
                <ul>
                    <li>Email: <a href="mailto:hello@samuelurom.com">hello@samuelurom.com</a></li>
                    <li>Phone: <a href="tel:+447438127072">+44 7438 127072</a></li>
                </ul>
                <p>Want to get connected? Let's connect on the social media channels below:</p>
                <a href="https://www.linkedin.com/in/uromwise/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> <a href="https://github.com/samuelurom" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://twitter.com/uromwise" target="_blank"><i class="fa-brands fa-twitter"></i></a> <a href="https://medium.com/@samuelurom" target="_blank"><i class="fa-brands fa-medium"></i></a>
            </div>
            <div class="feedback">
               <h3>Get in Touch</h3>
                <form action="#" method="post">
                    <input type="text" id="name" name="name" placeholder="Name:">
                    <input type="email" id="email" name="email" placeholder="Email:">
                    <input type="text" id="subject" name="subject" placeholder="Subject:">
                    <textarea id="message" name="message" placeholder="Message:"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </aside>
    <footer>
        <p>Copyright &copy; 2022. Samuel Urom.</p>
    </footer>
    <script src="./main.js"></script>
</body>
</html>