{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Projects{% endblock %}</h1>
    {% if g.user %}
        <a href="{{ url_for('page.create') }}" class="create-menu"><i class="fa-regular fa-pen-to-square menu_icon"></i> New Post</a>
    {% endif %}
    <hr>
{% endblock %}

{% block content %}
    <div class="blog">
        {% for project in projects %}
            <section class="container">
                <h2>{{ project['post_title'] }}</h2>
                {% if project['featured_image'] %}
                    <img src="/uploads/{{ project['featured_image'] }}" alt="{{ project['post_title'] }}">
                {% endif %}
                <span>{{ project['post_description'] }}</span>
                <p>
                    <a href="{{ url_for('page.single_post', post_url=project['post_url']) }}">Project Details...</a>
                {% if g.user['id'] == project['author_id'] %}
                    &nbsp;&nbsp;<a href="{{ url_for('page.edit', id=project['id']) }}"><i class="fa-regular fa-pen-to-square menu_icon"></i> Edit Post</a>
                </p>
                {% endif %}
            </section>
        {% endfor %}
    <div class="blog_container"></div>
{% endblock %}