.ql-syntax {
    background-color: #1e293b;
    color: #9ca3af;
    overflow: auto;
    padding: 1rem;
    border-radius: 1rem;
}
.ql-content p,
.ql-content ol,
.ql-content ul,
.ql-content pre,
.ql-content blockquote,
.ql-content h1,
.ql-content h2,
.ql-content h3,
.ql-content h4,
.ql-content h5,
.ql-content h6,
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin-bottom: 1rem;
}
.main-content h2 {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;
}
.main-content h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2em;
}
.main-content ul, .main-content ol {
    list-style: disc;
    margin-left: 2.5rem;
}
.main-content ul li {
    margin-bottom: 1rem;
}
@media screen and (max-width: 480) {
    .main-content ul, .main-content ol {
        margin-left: 1rem;
    }
}