{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <section>
        <div class="container login">
            <h1>Register</h1>
            <form method="post">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="text" name="full_name" id="full_name" placeholder="Full Name" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <input type="submit" value="Register">
            </form>
            <a href="{{ url_for('auth.login') }}">Have an account?</a>
            <a href="">&larr; Back to homepage</a>
        </div>
    </section>
{% endblock %}