{% extends 'base.html' %}

{% block title %}
{% block header %}{{ tag.title }}{% endblock %}
{% endblock %}

{% block description %}
{{ tag.description }}
{% endblock %}

{% block content %}
<div class="md:border-l-2 md:border-gray-300 md:pl-6 md:dark:border-gray-700">
    <div class="flex max-w-3xl flex-col space-y-16">
        {% for post in posts %}

        <article class="md:grid md:grid-cols-4 md:items-baseline">
            <div class="md:col-span-3 group relative flex flex-col items-start">
                <h2 class="text-base font-semibold tracking-tight text-gray-800 dark:text-gray-100">
                    <div
                        class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-800/50 sm:-inset-x-6 sm:rounded-2xl">
                    </div>
                    <a href="{% url 'post' post.slug %}"><span
                            class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                            class="relative z-10 text-lg">{{ post.title }}</span></a>
                </h2>
                <img src="/media/{{ post.featured_image }}" loading="lazy" alt="{{ post.title }}"
                    class="relative my-4 rounded-xl">
                <time
                    class="md:hidden relative z-10 order-first mb-3 flex items-center text-base text-gray-400 dark:text-gray-500 pl-3.5"
                    datetime="2022-09-05">
                    <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                        <span class="h-4 w-0.5 rounded-full bg-gray-200 dark:bg-gray-500"></span>
                    </span>
                    {{ post.publish_date|date }}
                </time>
                <p class="relative z-10 mt-2 text-base text-gray-600 dark:text-gray-400">{{ post.description }}</p>
                <div aria-hidden="true"
                    class="relative z-10 mt-4 flex items-center font-medium text-teal-500 group-hover:underline group-hover:underline-offset-4">
                    Read article
                    <svg viewBox="0 0 15 15" fill="none" aria-hidden="true" class="ml-1 h-6 w-6 stroke-current">
                        <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <time
                class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-base text-gray-400 dark:text-gray-500"
                datetime="2022-09-05">
                <span class="-ml-8 mr-4 w-4 h-4 rounded-full md:bg-gray-300 dark:md:bg-gray-700 inline-grid"></span>
                {{ post.publish_date|date }}
            </time>
        </article>

        {% endfor %}
    </div>
</div>
{% endblock %}