{% extends 'base.html' %}

{% block og_image %}{{ project.featured_image }}{% endblock %}

{% block og_title %}
{% block title %}
{% block header %}{{ page.projects_archive_title }}{% endblock %}
{% endblock %}
{% endblock %}

{% block og_description %}
{% block description %}
{{ page.projects_archive_description }}
{% endblock %}
{% endblock %}

{% block content %}
<div class="mt-16 sm:mt-20">
    <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
        {% for project in projects %}
        <li class="group relative flex flex-col items-start">
            <div
                class="relative z-10 flex items-center justify-center rounded-2xl bg-white shadow-md shadow-gray-800/5 ring-1 ring-gray-900/5 dark:border dark:border-gray-700/50 dark:bg-gray-800 dark:ring-0">
                <img alt="{{ project.title }}" loading="lazy" decoding="async" data-nimg="1"
                    src="/media/{{ project.featured_image }}" style="color: transparent;" class="rounded-2xl">
            </div>
            <h2 class="mt-6 text-base font-semibold text-gray-800 dark:text-gray-100">
                <div
                    class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-800/50 sm:-inset-x-6 sm:rounded-2xl">
                </div><a href="{% url 'project' project.slug %}"><span
                        class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                        class="relative z-10 text-lg">{{ project.title }}</span></a>
            </h2>
            <p class="relative z-10 mt-2 text-base text-gray-600 dark:text-gray-400">{{ project.description }}</p>
            <div aria-hidden="true"
                class="relative z-10 mt-4 flex items-center font-medium text-teal-500 group-hover:underline group-hover:underline-offset-4">
                Project details
                <svg viewBox="0 0 15 15" fill="none" aria-hidden="true" class="ml-1 h-6 w-6 stroke-current">
                    <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}